---
import Layout from "../layouts/Layout.astro";
import TextImageSection from "../components/TextImageSection.astro";
import Cards from "../components/Cards.astro";
import NavBar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Mi portafolio web">
	<main>
		<NavBar />
		<TextImageSection />
		<Cards />
		<Footer />
	</main>
</Layout>
