---
import Layout from "../layouts/Layout.astro";
import Event from "../components/Event.astro";
import Home from "../components/Home.astro";
import Bio from "../components/Bio.astro";
import Proyects from "../components/Proyects.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Mi Portafolio Web">
	<main>
		<Event />
		<Home />
		<Bio />
		<Proyects />
		<Footer />
	</main>
</Layout>
