---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import CardGrid from "../components/CardGrid.astro"
import Footer from "../components/Footer.astro";
---

<Layout title="Mi Portafolio Web">
	<main>
		<NavBar />
        <CardGrid />
		<Footer />
	</main>
</Layout>
