<script>
    document.addEventListener("DOMContentLoaded", (event) => {
    document.getElementById("year").textContent = new Date()
        .getFullYear()
        .toString();
});
</script>

<section>
    <div class="separador">
        <h2>Conocimientos en:</h2>
    </div>
</section>
<section class="cards">
    <div class="card">
        <div class="content">
            <img src="/flutter.svg" alt="Logo de Flutter" class="icon" />
            <h3>Flutter</h3>
            <p>Desarrollo de aplicaciones multiplataforma.</p>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <img src="/astro.svg" alt="Logo de Astro" class="icon" />
            <h3>Astro</h3>
            <p>Desarrollo web.</p>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <img src="/git.svg" alt="Logo de Git" class="icon white-icon" />
            <h3>Git</h3>
            <p>Control de versiones.</p>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <img
                src="/node.svg"
                alt="Logo de Node.js"
                class="icon white-icon"
            />
            <h3>Node.js</h3>
            <p>Manejo de entorno de ejecución.</p>
        </div>
    </div>
</section>
<footer>
    <section class="redes-sociales">
        <div class="contenedor">
            <a
                class="facebook"
                href="https://www.facebook.com/efrain.cruzlobato.9"
            >
                <i class="fa fa-facebook"></i>
            </a>
            <a
                class="whatsapp"
                href="https://api.whatsapp.com/send?phone=2411681568"
            >
                <i class="fa fa-whatsapp"></i>
            </a>
            <a
                class="instagram"
                href="https://instagram.com/efraincruzlobato._.13?igshid=ZDdkNTZiNTM="
            >
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </section>
    <section>
        <div class="copyright">
            <p>
                &copy; <span id="year"></span> Efrain Cruz Lobato. Todos los derechos
                reservados.
            </p>
        </div>
    </section>
</footer>


<style>
    .separador {
        text-align: center;
        color: white;
        margin-bottom: 55px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        border: 1px solid #ffffff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 10px;
        padding: 20px;
        width: calc(40% - 20px);
        max-width: calc(40% - 20px);
        box-sizing: border-box;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    .white-icon {
        filter: invert(100%) sepia(0%) saturate(7495%) hue-rotate(86deg)
            brightness(119%) contrast(119%);
    }

    h3 {
        margin-bottom: 5px;
        color: #a93a80;
    }

    p {
        margin-bottom: 0;
        color: white;
    }

    @media screen and (max-width: 768px) {
        .card {
            margin: 10px auto;
            width: calc(80% - 20px);
            max-width: calc(80% - 20px);
            text-align: center;
        }
    }

    footer {
        color: white;
        padding: 20px 0;
    }

    footer .redes-sociales {
        padding: 20px 0;
    }

    footer .redes-sociales .contenedor {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    footer .redes-sociales a {
        color: white;
        text-align: center;
        width: 60px;
        display: block;
        padding: 10px 0;
        border-radius: 3px;
        font-size: 24px;
        margin: 10px;
        transition: background 0.3s ease;
    }

    footer .redes-sociales .facebook:hover {
        background: #3b5998;
    }
    footer .redes-sociales .whatsapp:hover {
        background: #25d366;
    }
    footer .redes-sociales .instagram:hover {
        background: radial-gradient(
            circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%
        );
    }

    .copyright {
        text-align: center;
        color: white;
        margin-bottom: 15px;
    }

    @media (max-width: 768px) {
        footer .redes-sociales a {
            width: 40px;
            font-size: 20px;
        }

        footer .redes-sociales .contenedor {
            align-items: center;
        }
    }
</style>
