<footer>
    <section class="redes-sociales">
        <div class="contenedor">
            <a
                class="facebook"
                href="https://www.facebook.com/efrain.cruzlobato.9"
            >
                <i class="fa fa-facebook"></i>
            </a>
            <a
                class="whatsapp"
                href="https://api.whatsapp.com/send?phone=2411681568"
            >
                <i class="fa fa-whatsapp"></i>
            </a>
            <a
                class="instagram"
                href="https://instagram.com/efraincruzlobato._.13?igshid=ZDdkNTZiNTM="
            >
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </section>
    <section>
        <div class="copyright">
            <p>
                &copy; <span id="year"></span> Efrain Cruz Lobato. Todos los derechos
                reservados.
            </p>
        </div>
    </section>
</footer>

<style>
    footer {
        color: white;
        padding: 20px 0;
    }

    footer .redes-sociales {
        padding: 20px 0;
    }

    footer .redes-sociales .contenedor {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    footer .redes-sociales a {
        color: white;
        text-align: center;
        width: 60px;
        display: block;
        padding: 10px 0;
        border-radius: 3px;
        font-size: 24px;
        margin: 10px;
        transition: background 0.3s ease;
    }

    footer .redes-sociales .facebook:hover {
        background: #3b5998;
    }
    footer .redes-sociales .whatsapp:hover {
        background: #25d366;
    }
    footer .redes-sociales .instagram:hover {
        background: radial-gradient(
            circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%
        );
    }

    .copyright {
        text-align: center;
        color: white;
        margin-bottom: 15px;
    }

    @media (max-width: 768px) {
        footer .redes-sociales a {
            width: 40px;
            font-size: 20px;
        }

        footer .redes-sociales .contenedor {
            align-items: center;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
    document.getElementById("year").textContent = new Date()
        .getFullYear()
        .toString();
});
</script>
