<section class="line-divider"></section>

<style>
    .line-divider {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid white;
        margin: 55px 0;
        margin-left: 75px;
        margin-right: 75px;
    }

    @media (max-width: 768px) {
    .line-divider {
        margin-left: 25px;
        margin-right: 25px;
    }
}
</style>
