<nav class="bg-transparent">
    <div class="container flex items-center justify-center py-4 mx-auto space-x-8">
        <a href="/technologies" class="text-white text-base font-light transition-all duration-300 hover:text-[#0284c7] transform hover:scale-110">Tecnologías</a>
        <a href="/" class="text-white text-base font-light transition-all duration-300 hover:text-[#0284c7] transform hover:scale-110">Inicio</a>
        <a href="/proyects" class="text-white text-base font-light transition-all duration-300 hover:text-[#0284c7] transform hover:scale-110">Proyectos</a>
    </div>
</nav>
