<nav class="fixed top-0 w-full h-20 bg-transparent backdrop-blur-lg z-50 flex items-center justify-between px-6">
  <label class="logo">
    <a href="#">
      <img
        src="/astronaut.svg"
        height="70"
        width="60"
        alt="Logo_Efrain"
        class="pt-2 ml-4"
      />
    </a>
  </label>
  <ul class="flex items-center space-x-6 mr-6">
    <li>
      <a href="mailto:efraincruzlobato13@gmail.com" class="text-white text-lg font-bold hover:text-[#a93a80] transition-colors duration-300">
        Gmail
      </a>
    </li>
    <li>
      <a href="https://github.com/efrain131202" target="_blank" class="text-white text-xl hover:text-[#a93a80] transition-colors duration-300">
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
</nav>
