<nav class="bg-transparent shadow">
    <div class="container flex items-center justify-center p-6 mx-auto text-white capitalize">
        <a href="#" class="border-b-2 border-transparent transition-all duration-300 hover:border-[#6366f1] mx-1.5 sm:mx-6">Tecnologías</a>

        <a href="#" class="border-b-2 border-transparent transition-all duration-300 hover:border-[#6366f1] mx-1.5 sm:mx-6">Proyectos</a>

        <a href="#" class="border-b-2 border-transparent transition-all duration-300 hover:border-[#6366f1] mx-1.5 sm:mx-6">Extras</a>
    </div>
</nav>

