<section id="projects">
    <div class="project">
        <h3>Telmex_App</h3>
        <p>Descripción del proyecto. Este proyecto trata sobre...</p>
        <p><strong>Tecnologías:</strong> Dart, Flutter.</p>
        <a
            href="https://github.com/tu_usuario/tu_proyecto"
            target="_blank"
            class="repo-link"
        >
            <i class="fab fa-github"></i>
        </a>
    </div>
    <div class="project">
        <h3>telegram_bot</h3>
        <p>Descripción del proyecto. Este proyecto trata sobre...</p>
        <p><strong>Tecnologías:</strong> Node.js JavaScript.</p>
        <a
            href="https://github.com/tu_usuario/tu_proyecto"
            target="_blank"
            class="repo-link"
        >
            <i class="fab fa-github"></i>
        </a>
    </div>
    <div class="project">
        <h3>Vial-solutions</h3>
        <p>Descripción del proyecto. Este proyecto trata sobre...</p>
        <p><strong>Tecnologías:</strong> Astro, HTML, CSS, JavaScript</p>
        <a
            href="https://github.com/tu_usuario/tu_proyecto"
            target="_blank"
            class="repo-link"
        >
            <i class="fab fa-github"></i>
        </a>
    </div>
    <div class="project">
        <h3>VulkaPage</h3>
        <p>Descripción del proyecto. Este proyecto trata sobre...</p>
        <p><strong>Tecnologías:</strong> HTML, CSS, JavaScript</p>
        <a
            href="https://github.com/tu_usuario/tu_proyecto"
            target="_blank"
            class="repo-link"
        >
            <i class="fab fa-github"></i>
        </a>
    </div>
    <div class="project">
        <h3>Pagina-web-resturante</h3>
        <p>Descripción del proyecto. Este proyecto trata sobre...</p>
        <p><strong>Tecnologías:</strong> HTML, CSS, JavaScript</p>
        <a
            href="https://github.com/tu_usuario/tu_proyecto"
            target="_blank"
            class="repo-link"
        >
            <i class="fab fa-github"></i>
        </a>
    </div>
</section>

<style>
    #projects {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    .project {
        border-bottom: 1px solid white;
        padding: 15px 0;
    }

    .project h3 {
        margin-top: 0;
        color: #a93a80;
    }

    .project p {
        margin: 5px 0;
        color: white;
    }

    .repo-link {
        text-decoration: none;
        color: white;
        font-size: 1.5em;
    }

    .repo-link:hover {
        color: #a93a80;
    }

    @media (max-width: 600px) {
        #projects {
            padding: 10px;
        }

        .project {
            padding: 10px 0;
        }
    }
</style>
