<section class="text-center text-white mt-12 mb-8">
    <h2>Mis proyectos:</h2>
</section>

<section id="projects" class="max-w-4xl mx-auto p-5">
    <div class="border-b border-white py-4">
        <h3 class="text-[#a93a80] text-xl mb-1">Telmex_App</h3>
        <p class="text-white mb-1">App para visualizar datos de Excel</p>
        <p class="text-white mb-2">Tecnologías: Dart, Flutter</p>
        <a
            href="https://github.com/efrain131202/Telmex_App.git"
            target="_blank"
            class="text-white text-2xl p-2 hover:text-[#a93a80] transition-colors duration-300"
        >
            <i class="fab fa-github"></i>
        </a>
    </div>
    <div class="border-b border-white py-4">
        <h3 class="text-[#a93a80] text-xl mb-1">Telegram_Bot_Telmex</h3>
        <p class="text-white mb-1">Bot para consultas desde Excel</p>
        <p class="text-white mb-2">Tecnologías: Node.js, JavaScript</p>
        <a
            href="https://github.com/efrain131202/telegram_bot.git"
            target="_blank"
            class="text-white text-2xl p-2 hover:text-[#a93a80] transition-colors duration-300"
        >
            <i class="fab fa-github"></i>
        </a>
    </div>
    <div class="border-b border-white py-4">
        <h3 class="text-[#a93a80] text-xl mb-1">Vial-Solutions</h3>
        <p class="text-white mb-1">Landing page de una app</p>
        <p class="text-white mb-2">Tecnologías: Astro, HTML, Tailwind, JavaScript</p>
        <a
            href="https://github.com/efrain131202/Vial-Solutions.git"
            target="_blank"
            class="text-white text-2xl p-2 hover:text-[#a93a80] transition-colors duration-300"
        >
            <i class="fab fa-github"></i>
        </a>
        <a
            href="https://vialsolutions.netlify.app/"
            target="_blank"
            class="text-white text-2xl p-2 hover:text-[#a93a80] transition-colors duration-300"
        >
            <i class="fa-solid fa-link"></i>
        </a>
    </div>
    <div class="border-b border-white py-4">
        <h3 class="text-[#a93a80] text-xl mb-1">Hotel Boutique Alqueria Central</h3>
        <p class="text-white mb-1">Landing page de Hotel</p>
        <p class="text-white mb-2">Tecnologías: Astro, HTML, CSS, JavaScript</p>
        <a
            href="https://github.com/efrain131202/Alqueria-Central.git"
            target="_blank"
            class="text-white text-2xl p-2 hover:text-[#a93a80] transition-colors duration-300"
        >
            <i class="fab fa-github"></i>
        </a>
        <a
            href="https://667c61ea6a1f7f000860cebb--alqueriacentral.netlify.app/"
            target="_blank"
            class="text-white text-2xl p-2 hover:text-[#a93a80] transition-colors duration-300"
        >
            <i class="fa-solid fa-link"></i>
        </a>
    </div>
    <div class="border-b border-white py-4">
        <h3 class="text-[#a93a80] text-xl mb-1">Pagina-Web-Resturante</h3>
        <p class="text-white mb-1">Landing page de un restaurante</p>
        <p class="text-white mb-2">Tecnologías: HTML, CSS, JavaScript</p>
        <a
            href="https://github.com/efrain131202/Pagina-web-resturante.git"
            target="_blank"
            class="text-white text-2xl p-2 hover:text-[#a93a80] transition-colors duration-300"
        >
            <i class="fab fa-github"></i>
        </a>
        <a
            href="https://efrain131202.github.io/Pagina-web-resturante/"
            target="_blank"
            class="text-white text-2xl p-2 hover:text-[#a93a80] transition-colors duration-300"
        >
            <i class="fa-solid fa-link"></i>
        </a>
    </div>
</section>
