<section>
    <div class="separador">
        <h2>Mis proyectos:</h2>
    </div>
</section>

<section id="projects">
    <div class="project">
        <h3>Hotel Boutique Alqueria Central</h3>
        <p>Landing page de Hotel</p>
        <p>Tecnologías: Astro, HTML, CSS, JavaScript</p>
        <a
            href="https://github.com/efrain131202/Alqueria-Central.git"
            target="_blank"
            class="repo-link"
        >
            <i class="fab fa-github"></i>
        </a>
        <a
            href="https://667c61ea6a1f7f000860cebb--alqueriacentral.netlify.app/"
            target="_blank"
            class="repo-link"
        >
            <i class="fa-solid fa-link"></i>
        </a>
    </div>
    <div class="project">
        <h3>Telmex_App</h3>
        <p>App para visualizar datos de Excel</p>
        <p>Tecnologías: Dart, Flutter</p>
        <a
            href="https://github.com/efrain131202/Telmex_App.git"
            target="_blank"
            class="repo-link"
        >
            <i class="fab fa-github"></i>
        </a>
    </div>
    <div class="project">
        <h3>telegram_bot</h3>
        <p>Bot para consultas desde Excel</p>
        <p>Tecnologías: Node.js, JavaScript</p>
        <a
            href="https://github.com/efrain131202/telegram_bot.git"
            target="_blank"
            class="repo-link"
        >
            <i class="fab fa-github"></i>
        </a>
    </div>
    <div class="project">
        <h3>Vial-solutions</h3>
        <p>Landing page de una app</p>
        <p>Tecnologías: Astro, HTML, CSS, JavaScript</p>
        <a
            href="https://github.com/efrain131202/Vial-solutions.git"
            target="_blank"
            class="repo-link"
        >
            <i class="fab fa-github"></i>
        </a>
        <a
            href="https://regal-sorbet-7f0ba0.netlify.app/#"
            target="_blank"
            class="repo-link"
        >
            <i class="fa-solid fa-link"></i>
        </a>
    </div>
    <div class="project">
        <h3>VulkaPage</h3>
        <p>Landing page de una app</p>
        <p>Tecnologías: HTML, CSS, JavaScript</p>
        <a
            href="https://github.com/efrain131202/VulkaPage.git"
            target="_blank"
            class="repo-link"
        >
            <i class="fab fa-github"></i>
        </a>
        <a
            href="https://efrain131202.github.io/VulkaPage/"
            target="_blank"
            class="repo-link"
        >
            <i class="fa-solid fa-link"></i>
        </a>
    </div>
    <div class="project">
        <h3>Pagina-web-resturante</h3>
        <p>Landing page de un restaurante</p>
        <p>Tecnologías: HTML, CSS, JavaScript</p>
        <a
            href="https://github.com/efrain131202/Pagina-web-resturante.git"
            target="_blank"
            class="repo-link"
        >
            <i class="fab fa-github"></i>
        </a>
        <a
            href="https://efrain131202.github.io/Pagina-web-resturante/"
            target="_blank"
            class="repo-link"
        >
            <i class="fa-solid fa-link"></i>
        </a>
    </div>
</section>

<style>
    .separador {
        text-align: center;
        color: white;
        margin-bottom: 30px;
        margin-top: 50px;
    }
    #projects {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    .project {
        border-bottom: 1px solid white;
        padding: 15px 0;
    }

    .project h3 {
        margin-top: 0;
        color: #a93a80;
    }

    .project p {
        margin: 5px 0;
        color: white;
    }

    .repo-link {
        text-decoration: none;
        color: white;
        font-size: 1.5em;
        padding: 8px;
    }

    .repo-link:hover {
        color: #a93a80;
        transition: 0.3s;
    }

    @media (max-width: 600px) {
        #projects {
            padding: 10px;
        }

        .project {
            padding: 10px 0;
        }
    }
</style>
