<section class="text-image-section">
    <div class="content">
        <div class="text">
            <h1>Bienvenido a mi portafolio</h1>
            <p>
                Soy <span>Efrain Cruz Lobato</span>, estudiante de la
                Universidad Tecnológica de Tlaxcala de la carrera de Desarrollo
                y Gestión de Software. En este portafolio, encontrarás
                información sobre mi experiencia y conocimientos.
            </p>
            <button id="downloadCVBtn" class="download-button">Descargar CV</button>
        </div>
        <div class="image">
            <img src="/color-scheme-right.svg" alt="Descripción de la imagen" />
        </div>
    </div>
</section>

<style>
    .text-image-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        padding-top: 75px;
    }

    .download-button {
        display: inline-block;
        background-color: white;
        color: black;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 20px;
        transition: background-color 0.3s;
        cursor: pointer;
    }

    .download-button:hover {
        background-color: #a93a80;
        transition: 0.3s;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .text {
        width: 100%;
        max-width: 600px;
        padding: 20px;
        text-align: center;
        color: white;
        font-size: 20px;
    }

    span {
        color: #a93a80;
    }
    .image {
        width: 100%;
        max-width: 600px;
        padding: 20px;
        text-align: center;
    }

    .image img {
        max-width: 100%;
        height: auto;
        padding-right: 50px;
    }
    @media (min-width: 768px) {
        .content {
            flex-direction: row;
            justify-content: space-between;
        }
        .text,
        .image {
            text-align: left;
        }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const downloadBtn = document.getElementById('downloadCVBtn');

    downloadBtn.addEventListener('click', function(event) {
        const downloadLink = "/components/CV_EfrainCruzLobato_2024.pdf";
        window.location.href = downloadLink;

        event.preventDefault();
    });
});

</script>
