---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#13151a" />
		<link rel="icon" type="image/svg+xml" href="/astronaut.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<script
			src="https://kit.fontawesome.com/946937af14.js"
			crossorigin="anonymous"></script>
		<link
			href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		background-color: #13151a;
		font-family: "Madimi One", sans-serif;
		font-weight: 400;
		font-style: normal;
		scroll-behavior: smooth;
	}
</style>

<script type="module">
	// Import the functions you need from the SDKs you need
	import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
	import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics.js";
	// TODO: Add SDKs for Firebase products that you want to use
	// https://firebase.google.com/docs/web/setup#available-libraries

	// Your web app's Firebase configuration
	// For Firebase JS SDK v7.20.0 and later, measurementId is optional
	const firebaseConfig = {
		apiKey: "AIzaSyCI1JtsEptig1jVOmYIz6EK78Inyp1_fYI",
		authDomain: "mi-portafolio-web-c3db1.firebaseapp.com",
		projectId: "mi-portafolio-web-c3db1",
		storageBucket: "mi-portafolio-web-c3db1.appspot.com",
		messagingSenderId: "567417892099",
		appId: "1:567417892099:web:ee88c9e165306850dc4d36",
		measurementId: "G-G2TXF3J4ZQ",
	};

	// Initialize Firebase
	const app = initializeApp(firebaseConfig);
	const analytics = getAnalytics(app);
</script>
